@font-face {
    font-family: Satoshi;
    src: url(../Fonts/Satoshi-Variable.ttf);
}

@font-face {
    font-family: SatoshiLight;
    src: url(../Fonts/Satoshi-Light.ttf);
}

@font-face {
    font-family: BebasNeue;
    src: url(../Fonts/BebasNeue-Regular.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --primary: #cc4d3c;
    --secondary: #f9f6ef;
    --accent: #e9edf0;
    --lightgray: #e6e5e4;
}

body {
    overflow-x: hidden;
    background-color: var(--secondary);
}

@media (max-width: 1024px) {
    html {
        width: 1050px;
    }
}

/* Navbar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    color: var(--secondary);
    background-color: var(--primary);
    height: 70px;
    z-index: 1000;
    position: fixed;
    width: 100%;
}

.logo {
    font-family: BebasNeue;
    font-size: 1.3rem;
    letter-spacing: 3px;
}

nav ul {
    display: flex;
    gap: 30px;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    font-family: Satoshi;
    font-size: 1.2rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--secondary);
}

.menu-icon {
    display: none;
}

.menu-icon i{
    font-size: 30px;
}

@media (max-width: 640px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        gap: 0;
        background-color: var(--secondary);
        overflow: hidden;
    }

    nav ul li {
        font-size: 1.8rem;
        font-weight: 500;
        padding: 20px;
    }

    nav ul li a {
        color: var(--primary);
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }

    #menuList {
        transition: all 0.6s;
    }

    nav {
        padding: 0 50px;
    }
}


@media (max-width: 768px) {
    nav {
        width: 100vw;
        padding: 0 50px;
    }
}

@media (max-width: 550px) {
    nav {
        height: 50px;
    }

    nav ul {
        top: 50px;
    }
}

@media (max-width: 430px) {
    nav {
        padding: 0 30px;
        width: 100vw;
    }
}

/* Contact Hero */

.contact-hero {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 80px;

    background-color: var(--primary);
}

.contact-hero h1 {
    font-family: BebasNeue;
    font-size: 15rem;
    color: var(--secondary);
    letter-spacing: 15px;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}

.char {
    transform: translateY(260px);
    transition: transform 0.5s ease-out;
}

.socials {
    display: flex;
    gap: 150px;
    opacity: 0;
    transform: translateY(50px);
    transition: transform 0.5s ease-out;
}

.socials a {
    text-decoration: none;
    font-family: SatoshiLight;
    font-size: 1.3rem;
    letter-spacing: 3px;
    color: var(--secondary);
}

@media (max-width: 1024px) {
    .contact-hero {
        width: 100vw;
    }

    .contact-hero h1 {
        font-size: 10rem;
    }

    .socials {
        gap: 100px;
    }
}

@media (max-width: 640px) {
    .contact-hero h1 {
        font-size: 8rem;
    }

    .socials {
        gap: 50px;
    }
}

@media (max-width: 550px) {
    .contact-hero h1 {
        font-size: 6rem;
    }

    .socials {
        gap: 25px;
    }
}

@media (max-width: 430px) {
    .contact-hero h1 {
        font-size: 3.5rem;
    }

    .socials a {
        font-size: 1rem;
    }
}

/* Contact Form Section */

.contact-container {
    width: 100%;
    height: 100vh;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--accent);
}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 25px;

    height: 800px;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-left label {
    font-family: Satoshi;
    font-weight: 500;
    font-size: 1.3rem;
    letter-spacing: 3px;
    color: black;
}

.contact-left-title h2 {
    font-family: BebasNeue;
    font-size: 4rem;
    letter-spacing: 5px;
}

.contact-left-title hr {
    border: none;
    width: 150px;
    height: 3px;
    background-color: black;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs {
    font-family: Satoshi;
    font-weight: 500;
    font-size: 1.3rem;
    letter-spacing: 3px;

    width: 700px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;

    color: black;
    background-color: var(--secondary);
    border-radius: 50px;
}

.contact-left textarea {
    height: 250px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus {
    border: 1.5px solid var(--primary);
}

.contact-left button {
    font-family: Satoshi;
    font-weight: 500;
    font-size: 1.3rem;
    border-radius: 50px;
    width: 200px;
    height: 200px;
    border: none;
    cursor: pointer;
    color: var(--secondary);
    background-color: var(--primary);
}

.contact-right h1 {
    font-family: BebasNeue;
    font-size: 4rem;
    letter-spacing: 5px;
}

@media (max-width: 1024px) {
    .contact-container {
        width: 100vw;
        padding: 0 50px;
    }

    .contact-left {
        height: 700px;
    }

    .contact-left-title h2 {
        font-size: 3rem;
    }

    .contact-inputs {
        width: 600px;
        height: auto;
    }

    .contact-left button {
        width: 150px;
        height: 150px;
    }

    .contact-right h1 {
        font-size: 3rem;
    }
}

@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
        height: 100vh;
    }
}

@media (max-width: 640px) {
    .contact-left {
        height: 700px;
    }

    .contact-left-title h2 {
        font-size: 2.5rem;
    }

    .contact-inputs {
        width: 500px;
    }

    .contact-left button {
        width: 100px;
        height: 100px;
    }

    .contact-right h1 {
        font-size: 2.5rem;
    }
}

@media (max-width: 430px) {
    .contact-left {
        height: 700px;
    }

    .contact-left-title h2 {
        font-size: 2rem;
    }

    .contact-inputs {
        width: 400px;
        font-size: 1em;
    }

    .contact-left button {
        width: 80px;
        height: 80px;
    }

    .contact-right h1 {
        font-size: 2rem;
    }

    .contact-left label {
        font-size: 1em;
    }

    .contact-left button {
        font-size: 1em;
        height: 20px;
    }
        
}

/* footer */

footer {
    display: flex;
    justify-content: space-between;
    padding: 30px 80px;

    background-color: var(--accent);
}

footer p {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 3px;
    font-family: SatoshiLight;
}

@media (max-width: 1024px) {

    footer {
        width: 100vw;
    }

    footer p {
        font-size: 1rem;
    }
}

@media (max-width: 640px) {
    footer {
        padding: 30px 50px;
    }

    footer p {
        font-size: 0.8rem;
    }
}

@media (max-width: 550px) {
    hr {
        width: 550px;
    }
}

@media (max-width: 430px) {
    hr {
        width: 430px;
    }
}